<div class="images">
  <div class="search-form-group">
    <mat-form-field class="text-input">
      <mat-placeholder>Keywords</mat-placeholder>
      <input id="searchInput" for="searchInput" matInput #searchInput type="text">
    </mat-form-field>
    <button mat-button (click)="searchButton(searchInput)">Search</button>
  </div>
  <h1>{{images?images.length:"0"}} images
    <span *ngIf="query"> for query "{{query}}"</span>:</h1>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let image of images">
      <div class="image-group">
        <img src="{{image.links[0].href}}" class="image"/>
        <div class="overlay">
            <div class="text">
              <h3>{{image.data[0].title}}</h3>
              <p>{{image.data[0].description}}</p>
            </div>
          </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>