<div class="images">
  <div class="search-form-group">
    <mat-form-field class="text-input">
      <mat-placeholder>Keywords</mat-placeholder>
      <input id="searchInput" for="searchInput" matInput #searchInput type="text">
    </mat-form-field>
    <button mat-button (click)="searchButton(searchInput)">Search</button>
  </div>
  <h1>{{images?images.length:"0"}} images
    <span *ngIf="query"> for query "{{query}}"</span>:</h1>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let image of images">
      <img src="{{image.links[0].href}}" />
    </mat-grid-tile>
  </mat-grid-list>
</div>