<div *ngIf="(loggedIn$ | async)">
  <mat-card class="login-card">
    <p>
      Already logged in!
    </p>
    <p>
      You can
      <a (click)="logout()">log out</a> or view your
      <a routerLink="/login">profile</a>.
    </p>
  </mat-card>
</div>
<div *ngIf="!(loggedIn$ | async)">
  <mat-card class="login-card">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <mat-form-field class="text-input">
        <mat-placeholder>Email address or Username</mat-placeholder>
        <input matInput type="email" id="email" name="email" ngModel required/>
      </mat-form-field>
      <br/>
      <mat-form-field class="text-input">
        <mat-placeholder>Password</mat-placeholder>
        <input matInput type="password" id="password" name="password" ngModel required/>
      </mat-form-field>
      <br/>
      <button mat-button type="submit" [disabled]="!loginForm.form.valid">Sign in</button>
    </form>
    <div *ngIf="error" class="error-message">{{error}}</div>
    -
    <br/>
    <a routerLink="/register">Sign up</a>
  </mat-card>
</div>