<mat-card class="form-card">
  <h2 *ngIf="(user$ | async)._id">Edit collection </h2>
  <h2 *ngIf="!(user$ | async)._id">View collection </h2>
  <em *ngIf="collection" class="instance-id">ID: {{ collection._id }}</em>
  <form (ngSubmit)="onSubmit(editForm)" #editForm="ngForm" *ngIf="collection">
    <fieldset [disabled]="!(user$ | async)._id">
      <mat-form-field class="text-input">
        <mat-placeholder>Name</mat-placeholder>
        <input matInput type="text" id="name" name="name" [(ngModel)]="collection.name" required/>
      </mat-form-field>
      <mat-form-field class="text-input">
        <mat-placeholder>Description</mat-placeholder>
        <input matInput type="text" id="description" name="description" [(ngModel)]="collection.description" required/>
      </mat-form-field>
      <mat-form-field class="text-input">
        <mat-placeholder>Visibility</mat-placeholder>
        <mat-select id="visibility" name="visibility" [(ngModel)]="collection.visibility" [disabled]="!(user$ | async)._id" required>
          <mat-option value="private">
            Private
          </mat-option>
          <mat-option value="public">
            Public
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>
    <button *ngIf="(user$ | async)._id" mat-button type="submit" [disabled]="!editForm.form.valid">Save</button>
  </form>
  <div *ngIf="error" class="error-message">{{error}}</div>
  <div *ngIf="success" class="success-message">Collection updated!</div>
</mat-card>
<br/>
<div class="image-collection" *ngIf="collection">
  <h1>{{images?images.length:"0"}} images:</h1>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let image of images">
      <img src="{{image.links[0].href}}" />
    </mat-grid-tile>
  </mat-grid-list>
</div>