<mat-card class="form-card">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <mat-form-field class="text-input">
      <mat-placeholder>First name</mat-placeholder>
      <input matInput type="text" id="firstname" name="firstname" ngModel required/>
    </mat-form-field>
    <mat-form-field class="text-input">
      <mat-placeholder>Last name</mat-placeholder>
      <input matInput type="text" id="lastname" name="lastname" ngModel required/>
    </mat-form-field>
    <mat-form-field class="text-input">
      <mat-placeholder>Username</mat-placeholder>
      <input matInput type="text" id="username" name="username" ngModel required/>
    </mat-form-field>
    <mat-form-field class="text-input">
      <mat-placeholder>Email address</mat-placeholder>
      <input matInput type="email" id="email" name="email" email ngModel required/>
    </mat-form-field>
    <mat-form-field class="text-input">
      <mat-placeholder>Password</mat-placeholder>
      <input matInput type="password" id="password" name="password" ngModel required/>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!registerForm.form.valid">Register</button>
  </form>
  <div *ngIf="error" class="error-message">{{error}}</div>
  <div *ngIf="success" class="success-message">{{success}}</div>
</mat-card>